.App {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.App-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
}
